.idea/
*.pyc
gendata_old/
gendata_turn/
dataset/
gendata/_benchmarks_results/
gendata/data/
FCTL_imitation_learning_train/logs/
FCTL_imitation_learning_train/test/
FCTL_imitation_learning_test/_benchmarks_results/
FCTL_imitation_learning_test/agents/imitation/model/
FCTL_muse_test/_benchmarks_results/
FCTL_muse_test/agents/imitation/model/
*.h5
*.png

